@font-face {
    font-family: mainFont;
    src: url(fonts/JetBrainsMono-VariableFont_wght.ttf);
}

* {
    box-sizing: border-box;
    font-family: mainFont;
    margin: 0;
    padding: 0;
    }

header,
footer {
    display: flex;
    background-color: rgb(158, 210, 248);
    height: 70px;
    border-bottom: 4px solid #06c078;
    font-weight: bold;
}

header img {
    height: 48px;
    width: auto;
    margin: 10px 0 0 20px;
}

h1 {
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 34px;
    color: #fff;
    text-shadow: 3px 3px #06c078;
}

nav {
    display: flex;
    margin-left: auto;
    align-items: center;
    margin-right: 35px;
}

nav a:hover {
    text-decoration: overline solid #06c078 3px;
    color: #06c078;
    text-shadow: 2px 2px #baebba;
}

ul {
    display: flex; /* Make the list items horizontal */
    gap: 30px;
    font-size: 21px;
    text-shadow: 2px 2px #06c078;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff;
}

.about {
    display: flex;
    background-color: rgb(228, 242, 254);
    height: 750px;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 3px #06c078;
}

h2 {
    margin-left: 65px;
    padding: 15px; /* Add padding for spacing */
    border: outset 6px black;
    border-radius: 15px;
    background-color:#fbc6bd;
    box-shadow: 4px 4px grey;
    color: black;

}

h2 {
    font-size: 35px;
    
}
.about img {
    height: 400px;
    width: auto;
    border: outset 7px black;
    border-radius: 7px;
    box-shadow: 5px 5px grey;
    align-self: center;
}

.about p {
    width: 40%;
    font-size: 22px;
    text-align: justify;
    text-justify: inter-word;
}

.name {
   font-size: 28px;
   color:#06c078;
   font-weight: bolder;
}

/* flip-image styles */
.flip-image {
	perspective: 1000px;
    margin: 60px 120px 0 0;
}

/* flip the pane when hovered */
.flip-image:hover .flip, .flip-image.hover .flip {
	transform: rotateY(180deg);
}

.flip-image, .front, .back {
	width: 320px;
	height: 480px;
}

/* flip speed goes here */
.flip {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

.work {
    display: flex;
    background-color: rgb(228, 242, 254);
    height: 950px;
    align-items: center;
    border-bottom: solid 3px #06c078;
}

.container {
    display: block;
    margin-left: 300px;
    flex-wrap: wrap;
}

.container img {
    position: relative;
    text-align: center;
    width: 600px;
    height: auto;
    border: solid 4px black;
}

.container #card1 img:hover {
    flex-wrap: wrap;
    width: 610px;
    height: auto;
    box-shadow: 5px 5px grey;
    flex-shrink: 0;
}

.container .work-img {
    padding: 15px; /* Add padding for spacing */
    border: outset 6px black;
    border-radius: 15px;
    background-color:#fbc6bd;
    box-shadow: 4px 4px grey;
    color: black;
    text-align: center;
}

/*.container .work-img .LP:hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}*/

.container2 {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    flex-wrap: wrap;
}

.container2 img {
    width: 270px;
    height: auto;
}

.container2 img:hover {
    flex-wrap: wrap;
    width: 280px;
    height: auto;
    box-shadow: 5px 5px grey;
}

h3 {
    font-size: 20px;
}

.contact {
    display: flex;
    background-color: rgb(228, 242, 254);
    height: 250px;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 3px salmon;
}

.contact-text {
    margin-bottom: 25px;
}

.logo img {
    width: 40px;
    height: auto;
    margin: 5px 5px 0 20px;
    border-radius: 50%;
}

.logo img:hover {
    box-shadow: 2px 2px #06c078;
    border-radius: 50%;
}

/* Add the following styles to handle responsive design */
@media (max-width: 768px) {
    nav {
        flex-direction: column; /* Stack items vertically on small screens */
        align-items: flex-start; /* Align items to the start of the container */
    }

    ul {
        margin-top: 10px; /* Add some spacing between list items on small screens */
        gap: 0; /* Remove the gap between list items */
    }
}